extends base/_layout
block head
   title Главная
block page
   .breadcrumbs
      ul.breadcrumbs__list.container
         li
            a.breadcrumbs__link(href="#") Главная
         li
            a.breadcrumbs__link(href="#") Статьи
         li
            a.breadcrumbs__link(href="#") Категория
         li
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Помощь в получении кредита на открытие бизнеса с нуля

   article.article
      .article__inner.container
         .article__main
            section.article__lead
               .background-image
                  img(src="images/article/bg.jpg" alt="фоновая картинка" width="900" height="500")
               h1.article__title.main-title Помощь в получении кредита на открытие бизнеса с нуля
            ul.data.data--main
               li.data__item
                  img.data__icon(src="images/icons/calendar.svg" alt="иконка" width="18" height="18")
                  time(datetime="2020-10-31") 31 октября 2020
               li.data__item
                  img.data__icon(src="images/icons/eye.svg" alt="иконка" width="18" height="18")
                  | 45, 505
               li.data__item
                  img.data__icon(src="images/icons/heart.svg" alt="иконка" width="18" height="18")
                  | 543
               li.data__item
                  img.data__icon(src="images/icons/comment.svg" alt="иконка" width="18" height="18")
                  | 34

            section.content#content
               .content__inner
                  .content__top
                     h2.content__title Содержание статьи
                     button.content__toggle
                        img(src="images/icons/arrow-down.svg" alt="иконка" width="18" height="18")
                  ol.num-list
                     li
                        p.
                           Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                        ol.num-list__submenu
                           li
                              p.
                                 Признание себя банкротом
                           li
                              p.
                                 Как платить кредит, если потерял работу?
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем

            p.text.
               Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            section.info
               .info__inner
                  h2.title Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит. Заголовок в две строки + текст
                  p.text.
                     Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            section.info
               .info__inner
                  h2.title Заголовок + список + текст
                  ul.dot-list
                     li
                        p.
                           справки о доходах и налоговых отчислениях за последние 3 года;
                     li
                        p.
                           документы, подтверждающие наличие банковской задолженности (кредитный договор, претензии и т. п.);
                     li
                        p.
                           копии ИНН, СНИЛС;
                     li
                        p.
                           копию решения о признании заёмщика безработным;
                     li
                        p.
                           списки кредиторов с указанием сумм долга;
                     li
                        p.
                           опись имущества;
                  p.text.
                     Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            section.info
               .info__inner
                  h2.title Заголовок + нумерованный список + текст
                  ol.num-list
                     li
                        p.
                           Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                        ol.num-list__submenu
                           li
                              p.
                                 Признание себя банкротом
                           li
                              p.
                                 Как платить кредит, если потерял работу?
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                     li
                        p.
                           Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                  p.text.
                     Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            p.important #[strong Важно!] При злостном уклонении от выполнения условий договора на должника будет оказываться психологическое воздействие сотрудниками финансовой организации в виде звонков и смс-сообщений. Также не исключено, что дело будет передано в суд.

            .article__pic
               .background-image
                  img(src="images/article/pic-1.jpg" alt="картинка" width="336" height="172")

            p.text.
               Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            .article__btn-big
               a.btn.btn--wide.js-login-btn(href="#") Тестовая надпись на кнопке Возможно даже в две строки!

            .article__pic
               .background-image
                  img(src="images/article/pic-2.jpg" alt="картинка" width="336" height="172")

            section.info
               .info__inner
                  h2.title Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                  p.text.
                     Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            section.expert
               .expert__inner
                  .expert__info
                     h2.title Бесплатная консультация нашего эскперта
                     p.expert__text.
                        Итак, при сокращении с работы у заёмщика есть несколько вариантов выхода из ситуации. Самое главное – не впадать в панику, не копить долги и не скрываться от кредиторов.
                     a.btn.btn--secondary.js-credit-btn(href="#") Тестовая надпись
                  .expert__pic
                     img(src="images/article/expert.png" alt="эксперт" width="144" height="185")

            p.text.
               #[b Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин.] Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            blockquote.blockquote
               .blockquote__inner
                  .blockquote__icon
                     img(src="images/icons/quote.svg" alt="иконка" width="27" height="22")
                  .blockquote__info
                     h2.blockquote__title Чем может помочь кредитный брокер?
                     p.blockquote__text.
                        С целью снизить число людей с ожирением рестораны быстрого питания и сети супермаркетов вводят новые, более полезные опции (например, салаты, сэндвичи с цельнозерновым хлебом или напитки без сахара), а также предоставляют информацию о пищевой ценности продуктов в меню или на упаковке. С целью снизить число людей с ожирением рестораны быстрого питания и сети супермаркетов вводят новые, более полезные опции (например, салаты, сэндвичи с цельнозерновым хлебом или напитки без сахара), а также предоставляют информацию о пищевой ценности продуктов в меню или на упаковке.
                     a.blockquote__read(href="#") #[span Читать полностью]
                     cite.blockquote__cite
                        span.blockquote__author Василий Петрович
                        span.blockquote__pro Слесарь третьего разряда

            p.text.
               И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            form.form.form--sec(action="#")
               .form__top
                  h2.form__title Бесплатная консультация по списанию долгов
                  p.form__desc Оставьте свой телефон, специалист перезвонит вам в течение 1 минуты
               .form__manage
                  .form__inputs
                     label.form__label
                        input(type="text" placeholder="Имя *")
                     label.form__label.form__label--error
                        input(type="tel" placeholder="Телефон *")
                     label.form__label
                        input(type="text" placeholder="Сумма кредита, руб.")
                     .form__label
                        select.region
                           option
                           option(value="MSK") Москва
                           option(value="MSK") Санкт-Петербург
                           option(value="MSK") Ростов-на-Дону
                  button.btn.form__btn Тестовая надпись
                  .form__agree
                     label.form__agree-label
                        input(type="checkbox")
                        span.form__agree-checkbox
                           span.form__agree-checkbox__check
                        span.form__agree-text.
                           Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]

            p.text.
               © ГК «Содействие». При полном или частичном копировании материала ссылка на первоисточник обязательна.

            section.share
               .share__inner.container
                  .share__top
                     h2.share__title Поделиться:
                     ul.soc
                        li.soc__item
                           a.soc__link.soc__link--fb(href="#")
                              span.visually-hidden фейсбук
                              img(src="images/icons/facebook.svg" alt="facebook" width="16" height="16")
                        li.soc__item
                           a.soc__link.soc__link--tg(href="#")
                              span.visually-hidden телеграм
                              img(src="images/icons/telegram.svg" alt="telegram" width="16" height="14")
                        li.soc__item
                           a.soc__link.soc__link--ok(href="#")
                              span.visually-hidden одноклассники
                              img(src="images/icons/ok.svg" alt="ok" width="12" height="20")
                        li.soc__item
                           a.soc__link.soc__link--pt(href="#")
                              span.visually-hidden пинтерест
                              img(src="images/icons/pinterest.svg" alt="ok" width="16" height="16")
                  .share__bottom
                     ul.share__icons
                        li
                           a(href="#") 
                              img.share__icons-icon(src="images/icons/comment.svg" alt="иконка" width="24" height="24")
                              span.share__icons-num 45, 505
                        li
                           a(href="#")
                              img.share__icons-icon(src="images/icons/like.svg" alt="иконка" width="24" height="24")
                              span.share__icons-num 45, 505
                        li
                           a(href="#") 
                              img.share__icons-icon(src="images/icons/dislike.svg" alt="иконка" width="24" height="24")
                              span.share__icons-num 45, 505

            section.pro
               .pro__inner
                  h2.visually-hidden Профиль специалиста
                  .pro__profile
                     .pro__ava
                        img(src="images/article/pro.png" alt="фото специалиста" width="90" height="90")
                     .pro__info
                        p.pro__name Василиса Ивановна
                        p.pro__about.
                           Главный специалист отдела ипотечного кредитования
                        p.pro__text.
                           Юридическая помощь при банкротстве. #[br] Расскажу как действовать, если не получается выплатить кредит.
                        a.btn(href="#") Тестовая надпись

            ul.article__themes
               li
                  a(href="#") Ипотека
               li
                  a(href="#") Банкротство
               li
                  a(href="#") Улучшение условий
               li
                  a(href="#") Переуступка прав

            section.comment
               .comment__inner
                  h2.comment__title.title Комментарии: #[span.comment__title-num 21]
                  .comment__block
                     ul.comment__list
                        li.comment__item
                           .comment__answer
                              header.comment__header
                                 .comment__names
                                    p.comment__author Igor Popov
                                 .comment__info
                                    p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                    time.comment__time(datetime="2022-03-02") 02.03.2022
                              p.comment__text.
                                 В ломбард обращаться не самая лучшая идея, это то же самое, что менять шило на мыло. Если есть возможность получить деньги у родственников, лучше этот вариант. Конечно выплатить своевременно.
                              button.comment__btn #[img(src="images/icons/hide.svg" alt="иконка" width="16" height="16")] Скрыть ответы
                        li.comment__item
                           .comment__answer
                              header.comment__header
                                 .comment__names
                                    p.comment__author Igor Popov
                                 .comment__info
                                    p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="18" height="18")] 543
                                    time.comment__time(datetime="2022-03-02") 02.03.2022
                              p.comment__text.
                                 Да это верно,здесь задолженность погасить у коллекторов,но образуется задолженность в ломбард,а там процент ничуть не меньше,чем в займам,поэтому прежде чем брать займ, лучше 100 раз подумать о всех последствиях.
                              button.comment__btn #[img(src="images/icons/show.svg" alt="иконка" width="18" height="18")] Показать ответы
                        li.comment__item
                           .comment__answer
                              header.comment__header
                                 .comment__names
                                    p.comment__author Igor Popov
                                 .comment__info
                                    p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                    time.comment__time(datetime="2022-03-02") 02.03.2022
                              p.comment__text.
                                 Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                              button.comment__btn Комментировать
                           .comment__dialog
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Igor Popov
                                       p.comment__person Надежда
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                 button.comment__btn Комментировать
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Igor Popov
                                       p.comment__person София
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                 button.comment__btn Комментировать

                     a.comment__all(href="#") #[span Показать еще комментарии]

                  form.form.comment__form(action="#")
                     h2.title Оставьте свой комментарий к этой публикации
                     .form__inputs
                        label.form__label
                           input(type="text" placeholder="Имя *")
                     label.form__label
                        textarea(cols="30" rows="10" placeholder="Ваш комментарий *")
                     button.btn Поделиться мнением

         aside.aside.article__aside
            .aside__inner
               a.aside__content.js-anchor(href="#content") Содержание статьи
               .aside__info
                  p.aside__info-lead Читайте также:
                  ul.aside__list
                     li.aside__list-item
                        a.aside__list-article(href="#")
                           h3.aside__list-title На какой срок выдается какой-то ипотечный кредит ?
                           .aside__list-pic
                              .background-image
                                 img(src="images/aside/aside-1.jpg" alt="картинка к статье" width="270" height="132")
                     li.aside__list-item
                        a.aside__list-article(href="#")
                           h3.aside__list-title Оформляем кредит на развитие малого бизнеса
                           .aside__list-pic
                              .background-image
                                 img(src="images/aside/aside-2.jpg" alt="картинка к статье" width="270" height="132")
                     li.aside__list-item
                        a.aside__list-article(href="#")
                           h3.aside__list-title Оформим кредит на коммерческую недвижимость для ИП
                           .aside__list-pic
                              .background-image
                                 img(src="images/aside/aside-3.jpg" alt="картинка к статье" width="270" height="132")

   section.slider
      .slider__inner
         h2.title Лучшие статьи
         .slider__content
            .slider__swiper.slider__swiper-1
               .swiper-wrapper
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-1.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              На ипотеку приходится половина кредитной задолженности россиян
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-2.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Застройщики могут переносить сроки сдачи еще на полгода: что ждет дольщиков?
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-3.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              На ипотеку приходится половина кредитной задолженности россиян
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-4.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
            button.swiper-button-prev.slider__prev-1
            button.swiper-button-next.slider__next-1

   section.slider
      .slider__inner
         h2.title Последние статьи
         .slider__content
            .slider__swiper.slider__swiper-2
               .swiper-wrapper
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-5.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              На ипотеку приходится половина кредитной задолженности россиян
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-6.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Застройщики могут переносить сроки сдачи еще на полгода: что ждет дольщиков?
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-7.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              На ипотеку приходится половина кредитной задолженности россиян
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-8.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-1.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-2.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-3.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
                  .slider__item.swiper-slide
                     a.slider__btn(href="#") 
                        .slider__img
                           img(src="images/slider/slider-8.jpg" alt="картинка" width="263" height="160")
                        .slider__info
                           .slider__about
                              ul.data
                                 li.data__item
                                    time(datetime="2020-10-31") 31 октября 2020
                                 li.data__item
                                    img.data__icon(src="images/icons/eye.svg" alt="иконка" width="16" height="16")
                                    | 543
                                 li.data__item
                                    img.data__icon(src="images/icons/comment.svg" alt="иконка" width="16" height="16")
                                    | 12
                           h3.slider__text.
                              Дарение/продажа квартиры гражданина Украины в Москве
            button.swiper-button-prev.slider__prev-2
            button.swiper-button-next.slider__next-2