block modals
   .overlay

   .modal.modal-login
      button.modal__close
         img(src="images/icons/close.svg" alt="закрыть попап" width="24" height="24")
      .modal__inner
         .modal__top
            p.title Заголовок модального окошка
            p.modal__lead Жизнь совершенно непредсказуема.
         form.form.modal__form(action="#")
            .form__inputs
               label.form__label
                  input(type="text" placeholder="Имя *")
               label.form__label
                  input(type="tel" placeholder="Телефон *")
            button.btn Тестовая надпись
            .form__agree
               label.form__agree-label
                  input(type="checkbox")
                  span.form__agree-checkbox
                     span.form__agree-checkbox__check
                  span.form__agree-text.
                     Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]

   .modal.modal-credit
      button.modal__close
         img(src="images/icons/close.svg" alt="закрыть попап" width="24" height="24")
      .modal__inner
         .modal__top
            p.title Заявка на кредит
            p.modal__lead Жизнь совершенно непредсказуема.
         form.form.modal__form(action="#")
            .form__inputs
               label.form__label
                  input(type="text" placeholder="Имя *")
               label.form__label.form__label--error
                  input(type="tel" placeholder="Телефон *")
               label.form__label
                  input(type="text" placeholder="Сумма кредита, руб.")
               .form__label
                  select.region
                     option
                     option(value="MSK") Москва
                     option(value="MSK") Санкт-Петербург
                     option(value="MSK") Ростов-на-Дону
            button.btn Тестовая надпись
            .form__agree
               label.form__agree-label
                  input(type="checkbox")
                  span.form__agree-checkbox
                     span.form__agree-checkbox__check
                  span.form__agree-text.
                     Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]