.modal
   display: none
   padding: 20px
   background: #fff
   border: 1px solid #BEBEBE
   border-radius: 4px
   .form
      margin-bottom: 0
   .title
      margin-bottom: 7px
   .btn
      width: 100%
      margin-bottom: 20px
   &__lead
      font-weight: 300
      font-size: 13px
      line-height: 138%
      color: #393939
   &__top
      margin-bottom: 20px
      padding-right: 30px
      position: relative
   &__close
      position: absolute
      right: 0
      top: 0
